@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}
.nav_bg{
  background-color: #fff !important;
}
.navbar-brand{
  color: #565389 !important;
  font-size: 1.9rem !important;
}
.navbar a{
  text-transform: capitalize;
  font-size: 1.3rem;
  color: black;
}
.navbar a:hover{
  color: #565389 !important;
}
.menu-active{
  font-weight: bold;
  border-bottom: 1px solid #565389;
}
.brand-name{
  color:rgb(17, 49, 190);
}
.animated{
  animation: up-down 2s ease-in infinite alternate-reverse both;
}
@keyframes up-down{
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}